body{
  height:100%;
  background-color: #F5EFED;
}


/* Sidebar */
#sidebar-wrapper{
    z-index:1;
    position: fixed;
    width:0;
    height:100%;
    overflow-y:hidden;
    background: #D96C06;
    opacity:0.9;
      transition:all .5s;
      display:flex;
      align-items:center;
  }
  
  /* Main Content */
  #page-content-wrapper{
    width: 100%;	
    position: absolute;
    padding:15px;
    margin-left: 10px;
      transition:all .5s;
  }
  
  #menu-toggle{
      transition:all .3s;
      font-size:2em;
  }
  /* Change the width of the sidebar to display it*/
  #wrapper.menuDisplayed #sidebar-wrapper{
    width:150px;
  }
  
  #wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
  }
  
  /* Sidebar styling */
  .sidebar-nav{
    padding:0;
    list-style:none; 
      transition:all .5s;
      width:100%;
      text-align:center;
  }
  
  .sidebar-nav li{
    line-height:40px;  
      width:100%;
      transition:all .3s;
      padding:10px;
  }
  
  #addSearch{
    background-color: #D96C06;
    border: none;
  }

  .searchButtons {
    display:block;
    text-decoration:none;
    color: #F5EFED;
  }
  
  .sidebar-nav li:hover{
    background:#BDBF09;
  }
  
  .gifImg{
    width: 250px;
    height: auto;
    display: block;
  }
  
  .favGifCards{
    float: left;
    width: 250px;
  }

  .addFavs{
    padding: 5px;
  }

  .gifCard{
    width: 250px;
  }

  .links{
    padding: 5px;
  }

  #addSearch{
    margin-top: 2px;
  }

   .card-columns {
      column-count: 4;
  }

  .favRow{
    padding-bottom: 10px;
    background-color: #2292A4;
    margin-bottom: 10px;
    border-radius: 5px; 
  }

  @media (max-width: 1250px) { 
    .card-columns {
      column-count: 3;
    }
  }
  
  @media (max-width: 992px) { 
    .card-columns {
      column-count: 2;
    }
  }

@media (max-width: 768px) {
    .card-columns {
      column-count: 1;
  }
   }
  
